<td width="300"><%=item.variant.product.name-%> <%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %></td>
<td class="details"><%=item.details.inject('') {|s, (k, v)| s + "#{k}: #{v}<br />"} unless item.details.nil? -%></td>
<td class="price"><%= number_to_currency item.price -%></td>
<td class="qty"><%=item.quantity-%></td>
<td class="total"><span><%= number_to_currency (item.price * item.quantity)-%></span></td>

